.sur1{background-image:url(../surat/IMAGE\ \(2\).png);
background-size: 100%;
background-repeat: no-repeat;
}
.sur2{background-image: url(../surat/IMAGE\ \(7\).png);
background-size: 100%;
background-repeat: no-repeat;}